.outerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  /* max-width: ; */
  background-image: none;
}

.journalButton {
  background-color: aquamarine;
}
